:root {
    --slide-top-margin: 3.5rem;
    --slide-left-margin: 4rem;
    --slide-bottom-margin: -2.5rem;
    --slide-right-margin: -4rem;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 900;
    height: max-content;
    top: unset !important;
    left: unset;
    width: min-content !important;
}

.carousel-control-prev {
    left: calc(50% - 95px);
}

.carousel-control-next {
    left: calc(50% + 20px);
}

.control_disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.form-check-input {
    border-color: var(--bs-primary);
    border-width: 2px;
}

.course-button {
    background-color: transparent;
}

.course-button:hover {
    color: var(--bs-white) !important;
    transform: translateY(4px);
}

.option-button-radio + label:hover {
    color: var(--bs-white) !important;
}

.option-button-radio + label.active {
    color: var(--bs-white) !important;
}

#summitButton.course-button {
    box-shadow: 0 0.5rem var(--bs-primary) !important;
}

#challengeButton.course-button {
    box-shadow: 0 0.5rem var(--bs-danger) !important;
}

#summitButton.course-button:hover {
    box-shadow: none !important;
    background-color: var(--bs-primary);
}

#challengeButton.course-button:hover {
    box-shadow: none !important;
    background-color: var(--bs-danger);
}

#challengeButton.course-button.border-warning:hover {
    box-shadow: none !important;
    background-color: var(--bs-warning);
}

#challengeButton.course-button.border-warning {
    box-shadow: 0 0.5rem var(--bs-warning) !important;
}

.correct_answer:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}

.correct_answer:disabled {
    opacity: 1;
}

.correct_answer+span {
    color: var(--bs-success);
}

.wrong-answer:not(.correct_answer):checked {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 6 14 14M14 6 6 14'/%3e%3c/svg%3e");
}

.wrong-answer:not(.correct_answer)+span {
    color: var(--bs-danger);
}

.wrong-answer:disabled {
    opacity: 1;
}


/* ABSOLUTE POSITIONS CLASSES */
/* POSITION_CHOICES = [
    ("TL", "Top Left"),
    ("TC", "Top Center"),
    ("TR", "Top Right"),
    ("ML", "Middle Left"),
    ("MC", "Middle Center"),
    ("MR", "Middle Right"),
    ("BL", "Bottom Left"),
    ("BC", "Bottom Center"),
    ("BR", "Bottom Right "),
] */

.margin-text.TL {
    translate: var(--slide-left-margin) var(--slide-top-margin);
}

.margin-text.TC {
    translate: 0 var(--slide-left-margin);
}

.margin-text.TR {
    translate: var(--slide-right-margin) var(--slide-top-margin);
}

.margin-text.ML {
    translate: var(--slide-left-margin);
}

.margin-text.MR {
    translate: var(--slide-right-margin);
}

.margin-text.BL {
    translate: var(--slide-left-margin) var(--slide-bottom-margin);
}

.margin-text.BC {
    translate: 0 var(--slide-bottom-margin);
}

.margin-text.BR {
    translate: var(--slide-right-margin) var(--slide-bottom-margin);
}

.TL {
    position: absolute;
    top: 0;
    left: 0;
}

.TC {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.TR {
    position: absolute;
    top: 0;
    right: 0;
}


.ML {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.MC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MR {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.BL {
    position: absolute;
    bottom: 0;
    left: 0;
}

.BC {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.BR {
    position: absolute;
    bottom: 0;
    right: 0;
}

.inFront {
    z-index: 10;
}

.overlapBR {
    translate: 20% 10%;
}

.overlapBL {
    translate: -20% 10%;
}

/* Responsive classes */

@media (max-width: 576px) {
    :root {
        --slide-top-margin: 1rem;
        --slide-left-margin: 1rem;
        --slide-bottom-margin: -1rem;
        --slide-right-margin: -1rem;
    }
}
