.sticker_results {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

@media (max-width: 1600px) {
    .small {
        font-size: 0.7em;
    }
}
@media (min-width: 1600px) {
    .small {
        font-size: 1em;
    }
    .module-title {
        font-size: 1.5rem ;
    }
}

@media (max-height: 700px) and (min-width: 576px) and (max-width: 1400px) {
    .small {
        font-size: 0.55em !important;
    }
    .small.fs-6 {
        font-size: 0.7em !important;
    }
    .module-title {
        font-size: 1rem !important;
    }
}
