.header {
    background-color: #434343;
    margin-bottom: 0px;
}

.title {
    color: red;
    size : 3em;
    font-weight: bold;
}

.list-group-item {
    background-color: #434343;
}

.list-group-item a {
    color: white;
}