.language_selector>.btn.show,
.btn.active,
.btn:first-child:active {
    border-color: transparent;
}

.language_selector_form {
    display: contents;
    color: grey;
}

#language_selector {
    color: grey;
}

.language_selector_form>select {
    border-width: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230099FF' class='bi bi-arrow-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.language_selector_form:hover,
.language_selector_form:focus,
#language_selector:hover,
#language_selector:focus {
    color: var(--bs-primary);
    border: none !important;
    cursor:pointer;
}

#user-tools #language_selector {
    background-image: unset;
}

#sidebar #language_selector {
    background-image: unset;
    padding-right: 10px;
    appearance: none;
}


@media (max-width: 576px) {
    .language-selector .d-sm-none {
        display: inline !important;
    }
    .language-selector .d-none {
        display: none !important;
    }
}
