#resources .btn:hover {
  box-shadow: 0 0.5rem 1rem var(--bs-primary) !important;
  background-color: transparent;
}

#resources_download input {
  width: 1.5em;
  height: 1.5em;
  border-color: var(--bs-primary);
  border-width: 2px;
}

#resources_download input:disabled {
  border-color: var(--bs-secondary);
}

.text-blue-dark {
  color: #004D80;
}

@media (min-width: 576px) {
  .bg-image {
    background-image: url('../media/images/backgroundResources.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
