.nav-link {
    color: grey;
}

.sticky-sidebar {
    position: sticky;
    top: 0;
}

.tooltip > .tooltip-inner {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: var(--bs-primary);
}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--bs-primary);
}
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: var(--bs-primary);
}
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: var(--bs-primary);
}

#sidebar {
    width: auto;
}

#sidebar .nav-link:hover,
#sidebar .nav-link:focus {
    color: var(--bs-primary);
    border: none !important;
}

#sidebar .nav-link {
    position: relative;
    border: none !important;
}

#sidebar li {
    border: none !important;
}

#sidebar .nav-link .left-dot {
    height: 100%;
}

#sidebar .nav-link .selected-left-dot {
    width: 9px;
    height: 9px;
    border-radius: 5px;
    margin: auto;
}

#sidebar .nav-link:hover .left-bar {
    display: block !important;
}

#sidebar .danger-link:hover,
#sidebar .danger-link:focus {
    color: var(--bs-danger);
}

#sidebar .start-button {
    position: relative;
    text-align: right;
    padding-left: 45px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 1.1;
    font-size: 14px;
}

@media (min-width: 576px) {
    #sidebar:not(.minimized) li:hover,
    #sidebar:not(.minimized) li:focus {
        border: 2px solid var(--bs-primary);
        border-radius: 8px;
    }

    #sidebar:not(.minimized) li:has(a.danger-link):hover,
    #sidebar:not(.minimized) li:has(a.danger-link):focus {
        border-color: var(--bs-danger);
    }

    #sidebar:not(.minimized) .nav-link i {
        padding-left: 3px;
    }

    #sidebar:not(.minimized) li:not(.language-selector) {
        padding-left: 25px !important;
    }
    #sidebar:not(.minimized) .language-selector {
        padding-left: 36px !important;
    }

    #sidebar:not(.minimized) {
        width: 200px;
    }

    #sidebar.minimized {
        width: fit-content;
    }

    #sidebar.minimized .nav-link {
        text-align: center;
    }

    #sidebar.minimized li {
        font-size: 24px;
    }

    #sidebar.minimized .left-dot {
        display: none;
    }
}

@media (max-width: 576px) {
    .sticky-sidebar {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top:auto;
        z-index: 1030;
    }

    #sidebar > div {
        min-height: 0vh !important;
    }

    .nav-pills>li {
        width: auto !important;
    }

    #sidebar .left-dot {
        display: none;
    }
    #sidebar li {
        font-size: 24px;
    }

}
