{% load i18n %}
{% load static %}
<div class="row d-flex align-items-center">
  <div class="col flex-grow-1 lh-sm">
    <h6>
      {% translate "La confidentialité est votre alliée" %}
    </h6>
    <p>
      <small>
        {% blocktranslate trimmed %}
        Votre anonymat est préservé pendant votre formation grâce à un identifiant unique généré
        automatiquement lors de votre première connexion.
        {% endblocktranslate %}
      </small>
    </p>
  </div>
  <div class="col-4">
    <img class="img-fluid" src="{% static 'media/images/confidentiality.svg' %}" alt="Confidentiality officer">
  </div>
</div>
