{% load i18n %}
{% load static %}
<div class="row d-flex align-items-center">
  <div class="col flex-grow-1 lh-sm">
    <h6>
      {% translate "Privacy is your ally" %}
    </h6>
    <p>
      <small>
        {% blocktranslate trimmed %}
        Your anonimity is garantied during the training by means of a unique identifier
        generated automatically upon your first connection.
        {% endblocktranslate %}
      </small>
    </p>
  </div>
  <div class="col-4">
    <img class="img-fluid" src="{% static 'media/images/confidentiality.svg' %}" alt="Confidentiality officer">
  </div>
</div>
