{% load i18n %}
{% load static %}

<div class="modal fade" id="finish" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="finishLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title text-primary w-100 fw-bold text-center" id="finishLabel">
          {% translate "A bientôt !" %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3 border-3">
        <p class="fw-bold text-center">
          {% translate "Avez-vous votre ID pour votre prochaine visite?" %}
        </p>
        <p id="user_uuid" class="font-monospace text-center text-nowrap">
          {{ request.session.user_uuid }}
        </p>
        <a class="btn border border-primary rounded d-flex align-items-center text-start" role="button"
          onClick="copyToClipboard()">
          <i class="bi bi-clipboard-plus text-primary fs-3"></i>
          <span class="d-inline flex-grow-1 px-3">{% translate "Copier l’ID dans le presse-papier" %}</span>
        </a>
        <div class="py-3">
          <a class="btn border border-primary rounded d-flex align-items-center text-start" role="button"
            onClick="downloadTextFile()">
            <i class="bi bi-download text-primary fs-3"></i>
            <span class="d-inline flex-grow-1 px-3">{% translate "Télécharger un fichier TXT avec votre ID" %}</span>
          </a>
        </div>
        <a class="btn border border-primary rounded d-flex align-items-center text-start" role="button"
          onClick="downloadQRcode()">
          <i class="bi bi-qr-code-scan text-primary fs-3"></i>
          <span class="d-inline flex-grow-1 px-3">{% translate "Télécharger le QR code" %}</span>
        </a>
        {% include "modals/save_uuid_alert.html" %}
        <div class="text-center">
          <a id="id-management-validation" class="btn btn-lg btn-primary text-white disabled" href="{% url 'index' %}"
            role="button">
            {% translate "J’ai mon ID et je reviendrai" %}
          </a>
        </div>
      </div>
    </div>

    <div id="id-qrcode" class="d-none" />
  </div>
</div>

{% block bootstrap5_extra_script %}
<script src='{% static "npm_components/davidshimjs-qrcodejs/qrcode.min.js" %}'></script>
<script src='{% static "js/id_management.js" %}'></script>
{% endblock %}
