{% load i18n %}
{% load static %}

<div class="modal fade" id="finish" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="finishLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title text-primary w-100 fw-bold text-center" id="finishLabel">
          {% translate "See you soon!" %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3 border-3">
        <p class="fw-bold text-center">
          {% translate "Do you have your ID for your next visit?" %}
        </p>
        {% include "modals/save_options.html" %}
        {% include "modals/save_uuid_alert.html" %}
        <div class="text-center">
          <a class="btn btn-lg btn-primary text-white" href="{% url 'index' %}"
            role="button">
            {% translate "Leaving the adventure" %}
          </a>
        </div>
      </div>
    </div>
    <div id="id-qrcode" class="d-none" />
  </div>
</div>

{% block bootstrap5_extra_script %}
<script src='{% static "npm_components/davidshimjs-qrcodejs/qrcode.min.js" %}'></script>
<script src='{% static "js/id_management.js" %}'></script>
{% endblock %}
