{% load i18n %}
{% load static %}

<div class="modal-content">
  <div class="modal-header border-0 p-3 pb-2 ">
    <h4 class="modal-title text-primary w-100 fw-bold text-center" id="new_userLabel">
      {% translate "New journey" %}
    </h4>
  </div>
  <div class="modal-body m-3 border-3 mt-0">
    {% include "modals/confidentiality_alert.html" %}
    <p>
      {% translate "Your ID:" %}
    </p>
    {% include "modals/save_options.html" %}
    {% include "modals/save_uuid_alert.html" %}
    <div class="text-center">
      <a id="id-management-validation" class="btn btn-lg btn-primary text-white disabled" href="{% url 'dashboard' %}"
        role="button">
        {% translate "Start" %}
      </a>
    </div>
  </div>
</div>
<div id="id-qrcode" class="d-none"></div>

{% block bootstrap5_extra_script %}
<script src='{% static "npm_components/davidshimjs-qrcodejs/qrcode.min.js" %}'></script>
<script src='{% static "js/id_management.js" %}'></script>
{% endblock %}
