{% load django_bootstrap5 %}
{% load i18n %}

<form action="resources_download/" method="post">
    {% csrf_token %}
    <ul class="list-group">
        {{ formset.management_form }}
        {% for form in formset %}
        <li class="list-group-item shadow rounded my-2">
            <div class="d-flex align-items-center">
                <div class="me-2 option">
                    {{ form.resource }}
                </div>
                <i class="bi bi-file-text-fill fs-3 {{ form.icon_class }}"></i>
                <div class="container small">
                    <div class="row">
                        <div class="col-4 fw-light my-auto">
                            {{ form.resource_type }}
                        </div>
                        <div class="col-7 p-0 my-auto">
                            {{ form.resource.label_tag }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="text-center mt-3">
        <button id="downloadButton" type="summit" class="btn btn-primary text-white" data-bs-dismiss="modal">{% translate "Télécharger" %}</button>
    </div>
</form>
