{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_script %}
<script src='{% static "js/resources_download.js" %}'></script>
{% endblock %}


<form action="resources_download/" method="post">
    {% csrf_token %}
    <ul class="list-group">
        {{ formset.management_form }}
        {% for form in formset %}
        <li class="list-group-item shadow rounded my-2">
            <div class="d-flex align-items-center">
                <div class="me-2 option">
                    {{ form.resource }}
                </div>
                <label for="{{ form.resource.id_for_label }}">
                    <i class="bi bi-file-earmark-richtext-fill fs-3 {{ form.icon_class }}"></i>
                </label>
                <div class="container small">
                    <div class="row">
                        <div class="col-4 fw-light my-auto">
                            <label for="{{ form.resource.id_for_label }}">{{ form.resource_type }}</label>
                        </div>
                        <div class="col-7 p-0 my-auto">
                            {{ form.resource.label_tag }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
            <h4 class="mx-auto">{% translate "Sorry, no ressources available" %}</h4>
        {% endfor %}
    </ul>

    <div class="text-center mt-3">
        <button id="downloadButton" type="summit" class="btn btn-primary text-white {% if formset|length == 0 %}d-none{% endif %}" data-bs-dismiss="modal">{% translate "Download" %}</button>
    </div>
</form>
