{% load i18n %}
{% load static %}

{% block bootstrap5_extra_script %}
<script src='{% static "js/start.js" %}'></script>
{% endblock %}

<div class="modal fade" id="start" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="startLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header border-0">
        <h4 class="modal-title text-primary w-100 fw-bold" id="startLabel">
          {% translate "C’est parti !" %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3 border-3">
        <div class="border border-primary rounded-3 py-3 px-2">
          <p>
            {% translate "Je commence un nouveau parcours" %}
          </p>
          <a type="button" class="btn btn-primary text-white create_new_user" data-bs-dismiss="modal">
            {% translate "Commencer" %}
          </a>
        </div>
        <div class="py-2 ps-3">
          <span> {% translate "ou" %}</span>
        </div>
        <div class="border border-primary rounded-3 py-3 px-3">
          <p>
            {% translate "Je continue un parcours précédent grâce à mon identifiant unique :" %}
          </p>
          <div class="form-group pb-3">
            <input type="uuid" id="uuid-input" name="uuid_user" class="form-control border border-1 border-info"
              placeholder="ex: ce053a70-5baf-419d-8976-757c59746081" required>
          </div>
          <a class="btn btn-primary text-white" href="{% url 'dashboard' %}" role="button">
            {% translate "J’accède à mon espace" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
