{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load custom_filters %}


{% if slide is None %}
<div class="empty-slide"></div>
{% endif %}

{% if slide.question %}
{{ slide.question.media }}
{% with form=slide.question %}
<div id="question-card" class="h-100 perspective-flip" value="{{ form.id }}">
    <div class="overflow-auto front row border rounded border-light border-sm-secondary shadow-sm m-0 h-100 w-100">
        <form class="overflow-md-auto d-flex col-12 col-md-6 ps-sm-5 pe-sm-4 pb-sm-0 p-2 h-100" method="post" id="question-form">
            <div class="m-auto">
                {% if form.quiz %}
                <h3 class="text-primary">{% translate "Quiz"%} {{ level.index|accumulate_quiz_index:form.quiz_index }}.{{ form.question_quiz_index }}</h3>
                {% if form.display_quiz_label %}
                <p><strong><em>{% translate "Scenario"%}:</em></strong></span> {{ form.quiz.name }}</p>
                {% endif %}
                {% else %}
                <h3 class="text-primary">{% translate "Question"%} {{ form.question_index }}</h3>
                {% endif %}
                {% csrf_token %}
                <script>
                    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                </script>
                {% bootstrap_form_errors form %}
                {% bootstrap_label form.answer.label|safe label_class="pb-3" %}
                {% if form.type == "M" %}<p class="small fst-italic lh-lg mb-2">{% translate "Choose all the answers that apply, then click 'Confirm'." %}</p>{% endif %}
                {% bootstrap_field form.answer show_label=False label_class="pb-3" %}
                <div class="text-center pb-2">
                    <button id="summitButton" type="button"
                        class="flip btn text-primary course-button fw-bolder border-primary border border-3 shadow rounded p-2">
                        {% translate "Confirm" %}
                    </button>
                </div>
            </div>
        </form>
        <div class="col-6 p-0 text-end d-none d-md-inline h-100">
            {% if form.quiz %}
            <img class="img-fluid h-100" src="{% static 'media/images/course/quiz_image.svg' %}" alt="">
            {% else %}
            <img class="img-fluid h-100" src="{% static 'media/images/course/question_image.svg' %}" alt="">
            {% endif %}
        </div>
    </div>
    <div class="overflow-auto back row border rounded border-light border-sm-secondary shadow-sm m-0 h-100 w-100">
        <div class="overflow-md-auto d-flex col-12 col-md-6 ps-sm-5 pe-sm-4 pb-sm-0 p-2 h-100">
            <div class="m-auto">
                {% if form.quiz %}
                <h3 class="text-primary">{% translate "Quiz"%} {{ level.index|accumulate_quiz_index:form.quiz_index }}.{{ form.question_quiz_index }}</h3>
                {% if form.display_quiz_label %}
                <p><strong><em>{% translate "Scenario"%}:</em></strong></span> {{ form.quiz.name }}</p>
                {% endif %}
                {% else %}
                <h3 class="text-primary">{% translate "Question"%} {{ form.question_index }}</h3>
                {% endif %}
                <div class="pb-3">{{ form.fields.answer.label|safe }}</div>
                {% if form.type == "S" or form.type == "M" %}
                <div class="d-grid gap-2 ps-3 mb-5">
                    {% for answer_choice in form.answer.field.queryset %}
                    <label class="form-check">
                        <input class="form-check-input {% if answer_choice.is_correct %}correct_answer{% endif %}"
                            type="{{ form.answer.field.widget.input_type }}" value="{{ answer_choice.pk }}"
                            {%if answer_choice.is_correct %}checked{% endif %} disabled>
                        <span>{{ answer_choice }}</span>
                    </label>
                    {% endfor %}
                </div>
                {% endif %}
                {% if form.type == "SR" %}
                <div class="d-grid gap-2 p-3 pt-0 mx-sm-2">
                    {% for answer_choice in form.answer.field.queryset %}
                    <div class="row draggable-item border border-primary py-1 rounded-3 small"
                        value="{{ answer_choice.pk }}">
                        <p class="col-1 align-self-center text-nowrap text-center px-0 m-0">
                            {{ forloop.counter }}.
                        </p>
                        <div class="col-10 align-self-center px-1">{{ answer_choice }}</div>
                        <div class="col-1 h2 align-self-center text-center px-0 m-0">
                            <i class="bi bi-grip-horizontal"></i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-6 p-0 text-end d-none d-md-inline h-100">
            {% if form.quiz %}
            <img class="img-fluid h-100" src="{% static 'media/images/course/quiz_image.svg' %}" alt="">
            {% else %}
            <img class="img-fluid h-100" src="{% static 'media/images/course/question_image.svg' %}" alt="">
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
{% elif slide.explanation %}
<div class="overflow-auto row border rounded border-light border-sm-secondary shadow-sm m-0 h-100">
    <div class="overflow-md-auto d-flex col-12 col-md-6 ps-sm-5 pe-sm-4 pb-sm-0 p-2 h-100">
        <div class="m-auto">
            <h3 class="text-primary">{% translate "Question"%} {{ slide.explanation.question_index }}</h3>
            <h6 class="fw-bold">{% translate "Explanation"%}:</h6>
            {{ slide.explanation.label|safe|linebreaksbr }}
        </div>
    </div>
    <div class="col-6 p-0 text-end d-none d-md-inline h-100">
        <img class="img-fluid h-100" src="{% static 'media/images/course/explanation_image.svg' %}" alt="">
    </div>
</div>
{% elif slide.context %}
<div class="overflow-auto row border rounded border-light border-sm-secondary shadow-sm m-0 h-100">
    <div class="overflow-md-auto d-flex col-12 col-md-6 ps-sm-5 pe-sm-4 pb-sm-0 p-2 h-md-100">
        <div class="m-auto">
            {% if slide.context.label|contains:"final" %}
            <div class="text-center">
                <h2 class="fw-bolder text-warning">
                    {% translate "Congratulations" %} !
                </h2>
                {% with index_level=level.index next_level=level.index|add:1 score=score|floatformat:'0'|default:0 %}
                <p class="fw-bolder text-primary">
                    {% blocktranslate %}You have completed level {{ index_level }} !{% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate %}Your score is {% endblocktranslate %}
                    <span class="text-primary">{{ score }}%</span>
                </p>
                {% if index_level < 4 %} <p>
                    {% blocktranslate %}You have unlocked story number {{ next_level }} !{% endblocktranslate %}
                    </p>
                    {% endif %}
                    {% endwith %}
            </div>
            <div class="container py-2">
                <div class="row row-cols-1 row-cols-md-2 text-center g-4">
                    {% for resource in slide.context.resources %}
                    <div class="col">
                        <a class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded final-button {{ resource.css_classes|join:' ' }}"
                            href="{% static resource.resource.path|extract_static %}" download>
                            {% translate "Download the summary sheet" %}
                        </a>
                    </div>
                    {% endfor %}
                    <div class="col">
                        <a id="download-report-button"
                            class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded final-button"
                            href="{% url 'report' %}">
                            <span id="download-label">{% translate "Download the level report" %}</span>
                            <div id="download-spinner" style="display: none">
                                <span id="download-spinner" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                {% translate "Downloading" %}...
                            </div>

                        </a>
                    </div>
                    {% if level.index < 4 %}
                    <div class="col mx-auto">
                        <a type="button" href="{% url 'course' %}"
                            class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded final-button">
                            {% translate "Go to the next level" %}
                        </a>
                    </div>
                    {% else %}
                    {% settings_value "SATISFACTION_SURVEY_URL" as survey_url %}
                        <div class="col {% if not survey_url%}mx-auto{% endif %}">
                            <a id="downloadButton" href="{% url 'certificate' %}"
                                class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded final-button">
                                {% translate "Download the DAAZ certificate" %}
                            </a>
                        </div>
                        {% if survey_url %}
                        <div class="col">
                            <a type="button" href="https://alto.nc3.lu" target="_blank" rel="noopener noreferrer"
                                class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded final-button">
                                {% translate "Satisfaction survey" %}
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% else %}
                {% for text in slide.context.texts %}
                    <div
                        class="{{ text.css_classes|join:' ' }} {{ text.position }} {% if text.text.get_t_type_display == 'Title'%}text-primary{%endif%} d-none d-md-inline">
                        {{ text.text.description|safe|wordwrap:60|linebreaks }}
                    </div>
                    <div
                        class="{{ text.css_classes|join:' ' }} {{ text.position }} {% if text.text.get_t_type_display == 'Title'%}text-primary{%endif%}  d-md-none d-inline">
                        {{ text.text.description|safe|linebreaks }}
                    </div>
                {% endfor %}
                {% for resource in slide.context.resources %}
                    <div class="d-flex">
                        <a id="downloadButton"
                            class="btn text-primary course-button fw-bolder border-primary border border-3 shadow rounded mx-auto {{ resource.css_classes|join:' ' }}"
                            href="{% static resource.resource.path|extract_static %}" download>
                            {% if slide.context.label|contains:"fiche pratique" %}
                            {% translate "Download the Factsheet"%}
                            {% endif %}
                            {% if slide.context.label|contains:"challenge" %}
                            {% translate "Download my template"%}
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-6 h-md-100 text-center">
        {% for media in slide.context.medias %}
        <img class="img-fluid h-100 w-50 w-sm-100 {{ media.css_classes|join:' ' }} {{ text.position }}"
            src="{% static media.media.path|extract_static %}" alt="">
        {% endfor %}
    </div>
</div>
{% endif %}