{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load custom_filters %}

{% block bootstrap5_extra_script %}
<script src='{% static "js/course.js" %}'></script>
{% endblock %}

<div class="carousel-inner px-5 h-100" role="listbox">
    {% for slide in slides %}
    <div class="carousel-item h-100 pb-sm-5 {% if forloop.first %}active{% endif %}">
        {% if slide.question %}
        <div class="col card border border-primary p-sm-5 p-2 mx-auto h-100">
            <form method="post">
                <h3 class="text-primary">{% translate "Question"%} {{ slide.question.question_index }}</h3>
                {% csrf_token %}
                {% bootstrap_form_errors slide.question %}
                {% bootstrap_field slide.question.answer show_label=True label_class="pb-3" %}
                <div class="text-center py-sm-5 py-3 inFront">
                    <button id="summitButton" type="summit"
                        class="btn text-primary course-button fw-bolder border-primary border border-3 shadow rounded p-2">
                        {% translate "Valider" %}
                    </button>
                </div>
            </form>
        </div>
        {% elif slide.context %}
        <div class="col card border border-primary p-sm-5 p-2 mx-auto h-100">
            {% for text in slide.context.texts %}
            <span class="inFront margin-text {{ text.css_classes|join:' ' }} {{ text.position }}">
                {{ text.text.description|safe }}
            </span>
            {% endfor %}

            {% for media in slide.context.medias %}
            {% if media.media.get_m_type_display == 'Image' %}
            <img class="img-fluid {{ media.css_classes|join:' ' }} {{ media.position }}"
                src="{% static media.media.path|extract_static %}" alt="{{ media.media.name }}" />
            {% endif %}
            {% endfor %}
        </div>

        {% elif slide.challenge %}
            {% if not forloop.last %}
            <div class="col card border border-danger p-sm-5 p-2 mx-auto h-100">
                <div class="text-center text-danger">
                    <h1 class="fw-bolder">
                        {% translate "Challenge" %} !
                    </h1>
                    <h6 class="inFront">
                        {{ slide.challenge.name }}
                    </h6>
                </div>
                <div class="inFront">
                    <p>
                        {{ slide.challenge.description|linebreaks|safe }}
                    </p>
                </div>
                <div class="text-center inFront">
                    <button id="challengeButton" type="button"
                        class="btn text-danger course-button fw-bolder border-danger border border-3 shadow rounded p-2">
                        {% translate "Télécharger mon template" %}
                    </button>
                </div>
                <img class="img-fluid BR overlapBR" src="{% static 'media/images/course/challenge/cup.svg' %}" alt="Cup" />
            </div>
            {% else %}
            <div class="col card border border-warning p-sm-5 p-2 mx-auto h-100">
                <div class="text-center">
                    <h1 class="fw-bolder text-warning">
                        {% translate "Felicitations" %} !
                    </h1>
                    {% with index_level=level.index next_level=level.index|add:1 score=score|default:0 %}
                    <h3 class="inFront text-primary">
                        {% blocktranslate %}Vous avez terminé le niveau {{ index_level }} !{% endblocktranslate %}
                    </h3>
                    <h6>
                        {% blocktranslate %}Votre score est de {{ score }} sur 100 !{% endblocktranslate %}
                    </h6>
                    <h6>
                        {% blocktranslate %}Vous avez débloquez l’histoire numéro {{ next_level }} !{% endblocktranslate %}
                    </h6>
                    {% endwith %}
                    <img class="img-fluid" src="{% static 'media/images/course/challenge/final-check.svg' %}" alt="Final Check Guy" />
                </div>
                <div class="text-center inFront">
                    <button id="challengeButton" type="button"
                        class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded p-2">
                        {% translate "Télécharger la fiche récap" %}
                    </button>
                    <a id="challengeButton" type="button" href="{% url 'course' %}"
                        class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded p-2">
                    {% translate "Accéder au niveau suivant" %}
                    </a>
                </div>
                <img class="img-fluid TL h-100 d-none d-sm-block" src="{% static 'media/images/course/challenge/palm-left.svg' %}" alt="Palm Left" />
                <img class="img-fluid TR h-100 d-none d-sm-block" src="{% static 'media/images/course/challenge/palm-right.svg' %}" alt="Palm Right" />
            </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>

<a class="carousel-control-prev w-auto change_slide {% if not previous_control_enable %}control_disabled{% endif %}" type="button" data-bs-target="#carouselCourse" data-bs-slide="prev" >
    <span class="carousel-control-prev-icon text-primary" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</a>
<a class="carousel-control-next w-auto change_slide {% if not next_control_enable %}control_disabled{% endif %}" type="button" data-bs-target="#carouselCourse" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</a>
