{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/course.css' %}" />
{% endblock %}

{% block content_area %}
<div class="d-flex flex-column h-100">
    <div id="headerProgersbar" class="col-8 col-sm-4 card mx-auto rounded-3 border border-primary mb-3 py-4 px-3">
        <h4 class="text-primary text-center fw-bold pb-3">
            {% translate "Niveau" %} {{ level.index }} : {{ level.name }}
        </h4>
        <div class="course-progress-bar align-items-center pe-3">
            {% include "parts/course_progress_bar.html" %}
        </div>
    </div>
    <div id="carouselCourse" class="carousel slide h-100" data-bs-intervale="false">
        {% include "course_carousel.html" %}
    </div>
</div>
{% endblock %}
