{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load custom_filters %}


{% if slide is None %}
  <div class="empty-slide"></div>
{% endif %}

{% if slide.question %}
    {{ slide.question.media }}
    {% with form=slide.question %}
        <div id="question-card" class="h-100 perspective-flip" value="{{ form.id }}">
            <div class="front overflow-auto row card border border-light shadow-sm m-0 h-100 w-100">
                <form class="d-flex flex-column col-12 col-md-6 p-sm-5 p-2 h-100" method="post" id="question-form">
                    <div class="m-auto">
                        {% if form.quiz %}
                            <h3 class="text-primary">{% translate "Quiz"%} {{ form.quiz.id }}.{{ form.question_quiz_index }}</h3>
                            {% if form.display_quiz_label %}
                                <p><strong><em>{% translate "Scénario"%}:</em></strong></span> {{ form.quiz.name }}</p>
                            {% endif %}
                        {% else %}
                            <h3 class="text-primary">{% translate "Question"%} {{ form.question_index }}</h3>
                        {% endif %}
                        {% csrf_token %}
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.answer show_label=True label_class="pb-3" %}
                        <div class="text-center pb-2 inFront">
                            <button id="summitButton" type="button"
                                class="flip btn text-primary course-button fw-bolder border-primary border border-3 shadow rounded p-2">
                                {% translate "Valider" %}
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col-6 p-0 text-end d-none d-md-inline h-100">
                    {% if form.quiz %}
                        <img class="img-fluid h-100" src="{% static 'media/images/course/quiz_image.svg' %}"
                            alt="Question image" />
                    {% else %}
                        <img class="img-fluid h-100" src="{% static 'media/images/course/question_image.svg' %}"
                        alt="Quiz image" />
                    {% endif %}
                </div>
            </div>
            <div class="back overflow-auto row card border border-light shadow-sm m-0 h-100 w-100">
                <div class="d-flex flex-column col-12 col-md-6 p-sm-5 p-2 h-100">
                    <div class="m-auto">
                        {% if form.quiz %}
                        <h3 class="text-primary">{% translate "Quiz"%} {{ form.quiz.id }}.{{ form.question_quiz_index }}</h3>
                            {% if form.display_quiz_label %}
                                <p><strong><em>{% translate "Scénario"%}:</em></strong></span> {{ form.quiz.name }}</p>
                            {% endif %}
                        {% else %}
                            <h3 class="text-primary">{% translate "Question"%} {{ form.question_index }}</h3>
                        {% endif %}
                        <div class="pb-3">{{ form.answer.label_tag }}</div>
                        {% if form.type == "S" or form.type == "M" %}
                        <div class="d-grid gap-2 ps-3 mb-5">
                            {% for answer_choice in form.answer.field.queryset %}
                            <label class="form-check">
                                <input class="form-check-input {% if answer_choice.is_correct %}correct_answer{% endif %}"
                                    type="{{ form.answer.field.widget.input_type }}"
                                    value="{{ answer_choice.pk }}" {%if answer_choice.is_correct %}checked{% endif %} disabled>
                                <span>{{ answer_choice }}</span>
                            </label>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form.type == "LI" %}
                        <div class="d-grid gap-2 ps-3 mb-5">
                            {% for answer_choice in form.answer.field.queryset %}
                            <div>
                                <input
                                    class="form-check-input option-button-radio{% if answer_choice.is_correct %} correct_answer{% endif %}"
                                    type="{{ form.answer.field.widget.input_type }}"
                                    value="{{ answer_choice.pk }}" {%if answer_choice.is_correct %}checked{% endif %}
                                    disabled>
                                <div
                                    class="btn btn-sm border border-primary {% if answer_choice.is_correct %} border-success bg-light-green{% endif %}">
                                    {{ answer_choice }}
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form.type == "SR" %}
                        <div class="d-grid gap-2 p-3 pt-0 mx-sm-2">
                            {% for answer_choice in form.answer.field.queryset %}
                            <div class="row draggable-item border border-primary py-1 rounded-3 small"
                                value="{{ answer_choice.pk }}">
                                <p class="col-1 align-self-center text-nowrap text-center px-0 m-0">
                                    {{answer_choice.index }}.
                                </p>
                                <div class="col-10 align-self-center px-1">{{ answer_choice }}</div>
                                <div class="col-1 h2 align-self-center text-center px-0 m-0">
                                    <i class="bi bi-grip-horizontal"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6 p-0 text-end d-none d-md-inline h-100">
                    <img class="img-fluid h-100" src="{% static 'media/images/course/question_image.svg' %}"
                        alt="Question image" />
                </div>
            </div>
        </div>
    {% endwith %}
{% elif slide.explanation %}
    <div class="row overflow-auto card border border-light shadow-sm m-0 h-100">
        <div class="d-flex flex-column col-12 col-md-6 p-sm-5 p-2 h-100">
            <div class="m-auto">
                <h3 class="text-primary">{% translate "Question"%} {{ slide.explanation.question_index }}</h3>
                <h6 class="fw-bold">{% translate "Explication"%}:</h6>
                <div class="pb-3">{{ slide.explanation.question.name }}</div>
                {{ slide.explanation.label |safe|linebreaksbr }}
            </div>
        </div>
        <div class="col-6 p-0 text-end d-none d-md-inline h-100">
            <img class="img-fluid h-100" src="{% static 'media/images/course/explanation_image.svg' %}"
                alt="Final image" />
        </div>
    </div>
{% elif slide.context %}
    <div class="row overflow-auto border rounded border-light shadow-sm h-100">
        <div class="d-flex col-12 col-sm-12 col-md-6 h-md-100">
            <div class="m-auto ps-2 ps-md-5">
                {% for text in slide.context.texts %}
                <span
                    class="inFront {{ text.css_classes|join:' ' }} {{ text.position }} {% if text.text.get_t_type_display == 'Title'%}text-primary{%endif%}">
                    {{ text.text.description|linebreaks|safe }}
                </span>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 h-md-100 text-center">
            {% for media in slide.context.medias %}
            {% if media.media.get_m_type_display == 'Image' %}
            <img class="img-fluid h-100 w-50 w-sm-100 {{ media.css_classes|join:' ' }} {{ text.position }}"
                src="{% static media.media.path|extract_static %}" alt="{{ media.media.name }}" />
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% elif slide.challenge %}
    {% if slide.challenge.description == "Final" %}
        <div class="row card border border-light shadow-sm m-0 h-100">
            <div class="d-flex flex-column col-12 col-md-6 p-sm-5 p-2 h-100">
                <div class="m-auto">
                    <div class="text-center">
                        <h1 class="fw-bolder text-warning">
                            {% translate "Felicitations" %} !
                        </h1>
                        {% with index_level=level.index next_level=level.index|add:1 score=score|default:0 %}
                        <h3 class="inFront text-primary">
                            {% blocktranslate %}Vous avez terminé le niveau {{ index_level }} !{% endblocktranslate %}
                        </h3>
                        <h6>
                            {% blocktranslate %}Votre score est de {% endblocktranslate %}
                            <span class="text-primary">{{ score }}%</span>
                        </h6>
                        <h6>
                            {% blocktranslate %}Vous avez débloquez l’histoire numéro {{ next_level }} !{% endblocktranslate %}
                        </h6>
                        {% endwith %}
                    </div>
                    <div class="text-center pb-2 inFront">
                        <button id="challengeButton" type="button"
                            class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded p-2">
                            {% translate "Télécharger la fiche récap" %}
                        </button>
                        <a id="challengeButton" type="button" href="{% url 'course' %}"
                            class="btn text-warning course-button fw-bolder border-warning border border-3 shadow rounded p-2">
                            {% translate "Accéder au niveau suivant" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 p-0 text-end d-none d-md-inline h-100">
                <img class="img-fluid h-100" src="{% static 'media/images/course/final_image.svg' %}" alt="Final image" />
            </div>
        </div>
    {% else %}
        <div class="row card border border-light shadow-sm m-0 h-100">
            <div class="d-flex flex-column col-12 col-md-6 p-sm-5 p-2 h-100">
                <div class="m-auto">
                    <div class="text-center text-danger">
                        <h1 class="fw-bolder">
                            {% translate "Challenge" %} !
                        </h1>
                        <h6 class="inFront">
                            {{ slide.challenge.name }}
                        </h6>
                    </div>
                    <div class="inFront">
                        <p>
                            {{ slide.challenge.description|linebreaks|safe }}
                        </p>
                    </div>
                    <div class="text-center pb-2 inFront">
                        <button id="challengeButton" type="button"
                            class="btn text-danger course-button fw-bolder border-danger border border-3 shadow rounded p-2">
                            {% translate "Télécharger mon template" %}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6 p-0 text-end d-none d-md-inline h-100">
                <img class="img-fluid h-100" src="{% static 'media/images/course/challenge_image.svg' %}"
                    alt="Challenge image" />
            </div>
        </div>
    {% endif %}
{% endif %}
