{% extends 'main.html' %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_head %}
{{ block.super}}
<script src='{% static "js/course.js" %}'></script>
{% endblock %}

{% block content_area %}
<div class="container py-5">
  <h2 class="text-primary"> {% translate "Mon parcours" %}</h2>
  <p class="lead">
    {% translate "Sélectionnez le niveaux que vous voulez effectuer." %}
  </p>

  <div class="container-xl py-5 px-md-5">
    <div class="row g-5">
      {% for level in levels %}
      <div class="col-lg-6">
        <div class="card shadow rounded-5 border-0 mb-3{% if level.completion == 100 %} completed-level-card{% endif %}">
          <div class="row p-4">
            <div class="col-md-6 pb-3">
              <img
              class="w-100"
              src="{% static 'media/images/img-level-'%}{{level.index}}{% if level.completion == 100 %}-completed{% endif %}.svg" 
              alt="Compliance officer on phone"
              class="d-inline-block align-text-top"
              />
            </div>
            <div class="col-md-6 pb-3">
              <div class="d-flex flex-column" onclick="toggleInfo(this)">
                <h5 class="card-title text-primary fw-semibold mb-3">{{ level.index }}. {{ level.name }}</h5>

                <ul>
                  {% for line in level.description_lines %}
                  <li>{{ line }}</li>
                  {% endfor %}
                </ul>

                <div class="description d-none">
                  <ul>
                    {% for line in level.description_lines %}
                    <li>{{ line }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="progress {% if level.completion == 100 %} progress-completed{% endif %}">
                <div
                  class="progress-bar"
                  role="progressbar" 
                  style="width: {{ level.completion }}%;"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="{{ level.completion }}">
                </div>
                <span>{{ level.completion }}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}