{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block bootstrap5_extra_head %}
{{ block.super}}
<script src='{% static "npm_components/chart.js/dist/chart.umd.js" %}'></script>
{% endblock %}

{% block bootstrap5_extra_script %}
{{ criteria|json_script:"criteria-data" }}
{{ progress|json_script:"progress-data" }}
<script src='{% static "js/dashboard.js" %}'></script>
{% endblock %}

{% block content_area %}
{% if user.current_level %}
<h5 class="text-primary pb-2"> {% translate "Hello, welcome back!" %}</h5>
{% else %}
<h5 class="text-primary pb-2"> {% translate "Hello" %}</h5>
{% endif %}

<div class="d-flex d-sm-none py-2">
  <a class="btn btn-lg btn-primary text-white w-100" href="{% url 'course' %}" role="button">
    {% translate "Commencer l’histoire" %}
  </a>
</div>
<div class="row row-cols-1 row-cols-sm-2 g-sm-5 h-100 d-sm-inline-flex">
  <div>
    <h4 class="py-2 py-sm-0">{% translate "Mes cours" %}</h4>
    <div class="row row-cols-1 row-cols-sm-2">
      {% for score in scores %}
      <div class="p-2 pt-0">
        <div class="bg-primary shadow rounded-4 border-0 mb-2">
          <div class="row row-cols-2 p-4 p-sm-2">
            <div class="pe-0">
              <h6 class="text-white fw-semibold m-0">{% translate "Niveau" %} {{ score.level.index }}</h6>
              <span class="text-white fw-lighter small">{{ score.level.name }}</span>
              <div class="w-50 position-relative">
                <div class="ratio ratio-1x1 ">
                  <canvas id="progress{{ score.level.index }}"></canvas>
                </div>
                <span class="text-white position-absolute top-50 start-50 translate-middle mt-1 small">
                  {{ score.progress }}%
                </span>
              </div>
            </div>
            <div>
              <img src="{% static 'media/images/landing/level-'%}{{score.level.index}}.svg" class="img-fluid w-100"  alt="Compliance officer on phone"/>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="pt-4 pt-sm-0">
      <h4> {% translate "Connaissances" %}</h4>
      <canvas id="dashboard"></canvas>
    </div>
  </div>
  <div class="pb-2 p-sm-0">
    <h4>{% translate "Stickers" %}</h4>
    {% for score in scores %}
    <div class="row row-cols-2 row-cols-sm-4 py-sm-2 {% if forloop.first %}pt-sm-0{% endif %}">
      {% for sticker in '0123'|make_list %}
      <div class="p-2 p-sm-0 px-sm-2">
        <div class="shadow rounded-4">
          {% if score|is_sticker_unlocked:sticker %}
            <img src="{% static 'media/images/stickers/level-'%}{{ score.level.index }}-{{ sticker }}-unlocked.svg" alt="Sticker" class="img-fluid w-100" />
          {% else %}
            <img src="{% static 'media/images/stickers/level-'%}{{ score.level.index }}-{{ sticker }}.svg" alt="Sticker" class="img-fluid w-100" />
        {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
