{% extends 'home/base.html' %}
{% load static %}

{% block bootstrap5_extra_head %}
{{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'media/images/favicon.svg' %}" />
{% endblock %}

{% block bootstrap5_title %}{% endblock %}
{% block bootstrap5_before_content %}
<header class="h-15">
    {% include "parts/header.html" %}
</header>
{% endblock %}

{% block content %}
{% endblock %}

{% block bootstrap5_after_content %}
{% include "parts/footer.html" %}

<!-- modals -->
<div class="modal fade" id="start" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"aria-labelledby="startLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"></div>
</div>
<div class="modal fade" id="new_user" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="new_userLabel"aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"></div>
</div>

{% endblock %}
