{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% block bootstrap5_title %}{% endblock %}
{% block content %}
<div>
    <div class="bg-white">
        <div class="container-xl py-5">
            <div class="row">
                <div class="col-6 h-100">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-primary py-2">Le chemin intuitif vers la protection des données</h1>

                            <h5 class="py-4">Une formation sur mesure pour les PME basée sur des exemples réels</h5>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-primary text-white fw-bold w-100 py-2">Lancer le parcours</button>
                        </div>
                        <div class="col-7">
                            <p class="py-2">Conçu par la Commission Nationale pour la Protection des Données</p>
                        </div>
                    </div>
                </div>
                <div class="col-5 offset-1">
                    <img
                        class="w-100"
                        src="{% static 'media/images/img-eu-flag-waving.svg' %}"
                        alt="Waving EU privacy flag"
                        class="d-inline-block align-text-top"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-blue">
        <div class="container-wl">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="row">
                        <div class="col-12 py-5">
                            <h1 class="text-primary text-center">{% translate "Le RGPD de A à Zen !" %}</h1>
                        </div>
                        <div class="col-12 py-5">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <i class="bi bi-person-video2 text-primary"></i>
                                    </div>

                                    <div>
                                        <h3>Story-Learning</h3>
                                        <p>Une histoire captivante avec des personnages</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <i class="bi bi-trophy text-primary"></i>
                                    </div>

                                    <div>
                                        <h3>Story-Learning</h3>
                                        <p>Une histoire captivante avec des personnages</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <i class="bi bi-envelope-paper text-primary"></i>
                                    </div>

                                    <div>
                                        <h3>Story-Learning</h3>
                                        <p>Une histoire captivante avec des personnages</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <i class="bi bi-card-heading text-primary"></i>
                                    </div>

                                    <div>
                                        <h3>Story-Learning</h3>
                                        <p>Une histoire captivante avec des personnages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container-xl">
            <div class="row">
                <div className="col-12">
                    <h1 class="text-primary text-center py-5">En route vers la conformité !</h1>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <h3>Une histoire de PME</h3>

                            <p>Suivez l’aventure de notre héros Didier Schummer, un entrepreneur dynamique confronté au Règlement Général sur la Protection des Données, dit aussi “RGPD”.</p>

                            <p>Soutenu par son équipe, Didier découvrira et mettra en pratique le RGPD pour garantir un traitement de données respectueux des personnes concernées.</p>

                            <p>Explorez la protection des données personnelles aux côtés de Didier et montez en compétences !</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary text-white fw-bold">Lancer le parcours</button>
                        </div>
                    </div>
                </div>

                <div class="col-5 offset-1">
                    <img
                        class="w-100"
                        src="{% static 'media/images/img-compliance-phone.svg' %}"
                        alt="Compliance officer on phone"
                        class="d-inline-block align-text-top"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-blue">
        <div class="container-wl">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 py-5">
                            <h1 class="text-primary text-center">{% translate "Un parcours de 4 niveaux" %}</h1>
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5">
                            <div class="bg-white border-white rounded-3 p-4 h-100">
                                <div class="row">
                                    <div class="col-12">
                                        <img
                                            class="w-100"
                                            src="{% static 'media/images/img-compliance-phone.svg' %}"
                                            alt="Compliance officer on phone"
                                            class="d-inline-block align-text-top"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <h1 class="text-primary text-center">{% translate "Niveau 1" %}</h1>
                                    </div>
                                    <div class="col-12">
                                        <h3 class="text-center">{% translate "Bases" %}</h3>
                                    </div>
                                    <div class="col-12">
                                        <ul>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Cartographie des données" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5">
                            <div class="bg-white border-white rounded-3 p-4 h-100">
                                <div class="row">
                                    <div class="col-12">
                                        <img
                                            class="w-100"
                                            src="{% static 'media/images/img-compliance-phone.svg' %}"
                                            alt="Compliance officer on phone"
                                            class="d-inline-block align-text-top"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <h1 class="text-primary text-center">{% translate "Niveau 1" %}</h1>
                                    </div>
                                    <div class="col-12">
                                        <h3 class="text-center">{% translate "Bases" %}</h3>
                                    </div>
                                    <div class="col-12">
                                        <ul>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Cartographie des données" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5">
                            <div class="bg-white border-white rounded-3 p-4 h-100">
                                <div class="row">
                                    <div class="col-12">
                                        <img
                                            class="w-100"
                                            src="{% static 'media/images/img-compliance-phone.svg' %}"
                                            alt="Compliance officer on phone"
                                            class="d-inline-block align-text-top"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <h1 class="text-primary text-center">{% translate "Niveau 1" %}</h1>
                                    </div>
                                    <div class="col-12">
                                        <h3 class="text-center">{% translate "Bases" %}</h3>
                                    </div>
                                    <div class="col-12">
                                        <ul>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Cartographie des données" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5">
                            <div class="bg-white border-white rounded-3 p-4 h-100">
                                <div class="row">
                                    <div class="col-12">
                                        <img
                                            class="w-100"
                                            src="{% static 'media/images/img-compliance-phone.svg' %}"
                                            alt="Compliance officer on phone"
                                            class="d-inline-block align-text-top"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <h1 class="text-primary text-center">{% translate "Niveau 1" %}</h1>
                                    </div>
                                    <div class="col-12">
                                        <h3 class="text-center">Governance 2.0</h3>
                                    </div>
                                    <div class="col-12">
                                        <ul>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Cartographie des données" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                            <li>{% translate "Données à caractère personnel" %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 py-5">
                            <button class="btn btn-primary text-white fw-bold">Lancer le parcours</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container-md">
            <div class="row">
                <div className="col-12 py-5">
                    <h1 class="text-primary text-center py-5">{% translate "Témoignages" %}</h1>
                </div>
                <div className="col-12">
                    <h3 class="text-primary text-center py-2">{% translate "Ce qu’en disent les utilisateurs" %}</h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <h3>Une histoire de PME</h3>

                            <p>Suivez l’aventure de notre héros Didier Schummer, un entrepreneur dynamique confronté au Règlement Général sur la Protection des Données, dit aussi “RGPD”.</p>

                            <p>Soutenu par son équipe, Didier découvrira et mettra en pratique le RGPD pour garantir un traitement de données respectueux des personnes concernées.</p>

                            <p>Explorez la protection des données personnelles aux côtés de Didier et montez en compétences !</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary text-white fw-bold">Lancer le parcours</button>
                        </div>
                    </div>
                </div>
                <div class="col-5 offset-1">
                    <img
                        class="w-100"
                        src="{% static 'media/images/img-compliance-phone.svg' %}"
                        alt="Compliance officer on phone"
                        class="d-inline-block align-text-top"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-blue">
        <div class="container-wl">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 gy-5">
                            <h1 class="text-primary text-center">{% translate "Nos partenaires" %}</h1>
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5 py-5">
                            <img
                                class="w-100"
                                src="{% static 'media/images/logo-nc3.png' %}"
                                alt="Compliance officer on phone"
                                class="d-inline-block align-text-top"
                            />
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5 py-5">
                            <img
                                class="w-100"
                                src="{% static 'media/images/logo-lhc.png' %}"
                                alt="Compliance officer on phone"
                                class="d-inline-block align-text-top"
                            />
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5 py-5">
                            <img
                                class="w-100"
                                src="{% static 'media/images/logo-ce.png' %}"
                                alt="Compliance officer on phone"
                                class="d-inline-block align-text-top"
                            />
                        </div>

                        <div class="col-lg-3 col-md-12 gx-5 py-5">
                            <img
                                class="w-100"
                                src="{% static 'media/images/logo-lmih.png' %}"
                                alt="Compliance officer on phone"
                                class="d-inline-block align-text-top"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap5_before_content %}
    <header>
        {% include "parts/header.html" %}
    </header>
{% endblock %}

{% block bootstrap5_after_content %}
    {% include "parts/footer.html" %}
{% endblock %}