{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load cookiebanner %}
{% load custom_filters %}

{% block bootstrap5_title %}DAAZ{% endblock %}

{% block bootstrap5_extra_head %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}" />
{% endblock %}


{% block content %}
{% if not cookiebanner %}
    {% cookiebanner_modal 'bootstrap5' %}
{% endif %}

<div class="h-auto">
    <div id="hero" class="bg-white py-4 px-4 px-sm-0">
        <div class="container-xl py-sm-5">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 h-100">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h1 class="text-primary py-2">
                                {% translate "The intuitive path to" %}
                                <br class="d-none d-md-block"/>
                                {% translate "data protection" %}
                            </h1>
                            <h5 class="small-headline py-4">
                                {% translate "Costumized training for SME's" %}
                                <br/>
                                {% translate "based on real examples" %}
                            </h5>
                        </div>
                        <div class="col-md-12 d-md-none pb-5">
                            <img class="w-100" src="{% static 'media/images/landing/eu-flag-waving.svg' %}" alt=""
                                class="d-inline-block align-text-top">
                        </div>
                        <div class="col-8 offset-2 col-md-5 offset-md-0 mb-2 mb-sm-3 text-center">
                            <a type="button" class="btn btn-primary text-white fw-bold w-100 py-2 py-sm-2 start">
                                {% translate "Start the journey" %}
                            </a>
                        </div>
                        <div class="tiny-headline col-md-7 mb-3">
                            <span class="py-2 font-grey">
                                {% translate "Developed by the National Commission" %}
                                <br class="d-none d-md-block"/>
                                {% translate "for Data Protection of Luxembourg" %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 offset-md-1 mb-4 d-none d-md-block">
                    <img class="w-100" src="{% static 'media/images/landing/eu-flag-waving.svg' %}" alt=""
                        class="d-inline-block align-text-top">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-horizontal-white-and-light-blue px-4 py-3 p-sm-0 ">
        <div class="container-xl">
            <div class="row mx-2">
                <div class="col-xl-10 offset-xl-1">
                    <div class="row bg-primary rounded-3 border-white border border-5">
                        <div class="col-md-4 d-flex align-items-center text-white px-4 ps-md-5 pe-md-3 py-3 py-sm-2 pe-1">
                            <div class="flex-grow-0">
                                <i class="bi bi-magic medium-icon"></i>
                            </div>

                            <div class="flex-grow-1 p-3 lh-sm">
                                <h4 class="mb-1">
                                    {% translate "Suitable" %}
                                </h4>
                                <span>
                                    {% translate "The GDPR with the" %}
                                    <br/>
                                    {% translate "words of everyday life" %}
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4 d-flex align-items-center text-white px-4 py-3 py-sm-2 pe-1">
                            <div class="flex-grow-0">
                                <i class="bi bi-clock-history medium-icon"></i>
                            </div>

                            <div class="flex-grow-1 p-3 pe-0 lh-sm">
                                <h4 class="mb-1">
                                    {% translate "Flexible" %}
                                </h4>
                                <span>
                                    {% translate "A training to follow" %}
                                    <br/>
                                    {% translate "at your own pace" %}
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4 d-flex align-items-center text-white px-4 py-3 py-sm-2 pe-1">
                            <div class="flex-grow-0">
                                <i class="bi bi-shield-check medium-icon"></i>
                            </div>

                            <div class="flex-grow-1 p-3 lh-sm">
                                <h4 class="mb-1">
                                    {% translate "Reliable" %}
                                </h4>
                                <span>
                                    {% translate "Verified content" %}
                                    <br/>
                                    {% translate "and secure" %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-blue pb-3 pt-5 py-sm-5 px-4 px-sm-0">
        <div class="container-xl">
            <div class="row">
                <div class="col-xl-8 col-md-10 offset-xl-2 offset-md-1">
                    <div class="row">
                        <div class="col-md-12 py-3 py-sm-5">
                            <h1 class="text-primary text-center">
                                {% translate "The GDPR from A to Zen!" %}
                            </h1>
                        </div>
                        <div class="col-md-12 py-3 px-4">
                            <div class="row">
                                <div class="col-md-6 d-flex align-items-center ps-3">
                                    <div class="flex-grow-0">
                                        <i class="bi bi-book text-primary large-icon"></i>
                                    </div>

                                    <div class="flex-grow-1 p-3 lh-sm">
                                        <h4 class="mb-1">
                                            {% translate "Story-Learning" %}
                                        </h4>
                                        <span>
                                            {% translate "A captivating story with" %}
                                            <br/>
                                            {% translate "characters" %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center ps-3">
                                    <div class="flex-grow-0">
                                        <i class="bi bi-award text-primary large-icon"></i>
                                    </div>

                                    <div class="flex-grow-1 p-3 lh-sm">
                                        <h4 class="mb-1">
                                            {% translate "Achievement" %}
                                        </h4>
                                        <span>
                                            {% translate "Questions and challenges" %}
                                            <br/>
                                            {% translate "to test your progression" %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center ps-3">
                                    <div class="flex-grow-0">
                                        <i class="bi bi-envelope-paper text-primary large-icon"></i>
                                    </div>

                                    <div class="flex-grow-1 p-3 lh-sm">
                                        <h4 class="mb-1">
                                            {% translate "Experience" %}
                                        </h4>
                                        <span>
                                            {% translate "Based on concrete cases" %}
                                            <br/>
                                            {% translate "met by experts" %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center ps-3">
                                    <div class="flex-grow-0">
                                        <i class="bi bi-person-vcard text-primary large-icon"></i>
                                    </div>

                                    <div class="flex-grow-1 p-3 lh-sm">
                                        <h4 class="mb-1">
                                            {% translate "Implication" %}
                                        </h4>
                                        <span>
                                            {% translate "Useful fact sheets" %}
                                            <br/>
                                            {% translate "in your everyday life" %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="bg-white py-3 py-sm-5 px-4 px-sm-0">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h1 class="text-primary text-center py-3 py-sm-5">
                                {% translate "On the way to compliance !" %}
                            </h1>
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12 py-2">
                                    <h3>
                                        {% translate "A story of an SME" %}
                                    </h3>
                                </div>

                                <div class="col-md-12 pb-3 pt-1 py-sm-4">
                                    <p>
                                        {% blocktranslate trimmed %}
                                        Follow the adventure of our hero Dominique Schummer, a dynamic businessmann
                                        faced with the General Data Protection Regulation, also called
                                        <b>“GDPR”</b>.
                                        {% endblocktranslate %}
                                    </p>

                                    <p>
                                        {% blocktranslate trimmed %}
                                        Aided by his team, Dominique will discover and implement the
                                        GDPR to ensure a respectful handling of the data subject's data.
                                        {% endblocktranslate %}
                                    </p>

                                    <p>
                                        {% blocktranslate trimmed %}
                                        Explore the world of data protection alongside Dominique and gain new skills!
                                        {% endblocktranslate %}
                                    </p>
                                </div>

                                <div class="col-md-12 py-2 text-center text-sm-start">
                                    <a class="btn btn-primary p-2 text-white fw-semibold fs-4 start">
                                        {% translate "Start the journey" %}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 offset-md-2 py-3 pt-5 py-sm-5">
                            <img class="w-100" src="{% static 'media/images/landing/compliance-phone.svg' %}"
                                alt="" class="d-inline-block align-text-top" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-blue py-3 py-sm-5 px-3 px-sm-0">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-3 pb-4 py-sm-5">
                            <h1 class="text-primary text-center">{% translate "A 4-level journey" %}</h1>
                        </div>
                        {% for level in levels %}
                        <div class="col-lg-3 col-md-6 col-sm-12 gx-md-5 mb-3">
                            <div class="bg-white border-white rounded-3 p-4 h-100">
                                <div class="row row-cols-2 row-cols-sm-1">
                                    <div>
                                        <img class="w-100" src="{% static 'media/images/landing/level-'%}{{level.index}}.svg"
                                            alt="" class="d-inline-block align-text-top" />
                                        <div class="pt-2">
                                            <h1 class="text-primary text-center">
                                                {% translate "Level" %} {{ level.index }}
                                            </h1>
                                        </div>
                                        <div class="pb-4">
                                            <h4 class="text-center fw-bold">
                                                {{ level.name }}
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="px-1 px-sm-2">
                                        <ul class="ps-3 ps-sm-4">
                                            {% for description in level.description|linebreaksbr|split:"<br>" %}
                                            <li>{{ description }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-md-12 py-3 py-sm-5 text-center">
                            <button class="btn btn-primary p-2 text-white fw-semibold fs-4 start">
                                {% translate "Start the journey" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white py-3 py-sm-5 px-4 px-sm-0">
        <div class="container-sm">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div className="col-md-12 py-4 py-sm-5">
                            <h1 class="text-primary text-center py-3 py-sm-5">{% translate "Testimonies" %}</h1>
                        </div>
                        <div className="col-md-12 pb-4">
                            <h4 class="text-center fw-bold">{% translate "What other users said about it" %}</h4>
                        </div>
                        <div class="col-md-12 py-5">
                            <div class="row">
                                <div class="col-md-4 gx-5 pb-4">
                                    <div class="row testimony-box p-2">
                                        <div class="col-md-12 text-end">
                                            <i class="bi bi-quote display-1 light-blue text-end"></i>
                                        </div>

                                        <div class="col-md-12">
                                            <p class="fst-italic">
                                                DAAZ est un outil très ludique qui tire profit des avantages de la gamification.
                                            </p>
                                        </div>

                                        <div class="col-md-12 d-flex align-items-center">
                                            <img class="flex-grow-0 rounded-circle align-items-center" width="50px"
                                                height="50px" src="{% static 'media/images/landing/level-3.svg' %}"
                                                alt="" class="d-inline-block align-text-top" />

                                            <div class="flex-grow-1 p-3 align-items-center">
                                                <div class="text-primary fw-bold">Pascal Steichen</div>
                                                <div>CEO de la Luxembourg House of Cybersecurity</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-blue py-3 py-sm-5 px-4 px-sm-0">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center">
                        <div class="col-md-12 py-3 py-sm-5">
                            <h1 class="text-primary text-center">{% translate "Our partners" %}</h1>
                        </div>

                        <div class="col-8 offset-2 offset-md-0 col-lg-3 col-md-12 gx-5 py-3 py-sm-5">
                            <img src="{% static 'media/images/logos/logo-nc3.svg' %}" alt="nc3.lu National Cybersecurity Competence Center LUXEMBOURG"
                                class="img-fluid" />
                        </div>

                        <div class="col-8 offset-2 offset-md-0 col-lg-3 col-md-12 gx-5 py-3 py-sm-5">
                            <img src="{% static 'media/images/logos/logo-lhc.svg' %}" alt="LHC Luxembourg House of Cybersecurity"
                                class="img-fluid" />
                        </div>

                        <div class="col-8 offset-2 offset-md-0 col-lg-3 col-md-12 gx-5 py-3 py-sm-5">
                            <img src="{% static 'media/images/logos/logo-ce.svg' %}" alt="Co-funded by the European Union"
                                class="img-fluid" />
                        </div>

                        <div class="col-8 offset-2 offset-md-0 col-lg-3 col-md-12 gx-5 py-3 py-sm-5">
                            <img src="{% static 'media/images/logos/logo-lmih.svg' %}" alt="Luxembourg Let's Make It Happen"
                                class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
