{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block bootstrap5_title %}
{% translate "Legal notice" %}
{% endblock %}
{% block content %}
<div class="container-xl py-5">
  <h1 class="text-primary">
    {% translate "Aspects légaux" %}
  </h1>
  <h3 class="text-primary">
    {% translate "Conditions générales d'utilisation du site daaz-gdpr.lu et de l’outil d’aide à la conformité DAAZ" %}
  </h3>
  <p class="fst-italic">
    {% blocktranslate trimmed %}
    Veuillez prendre connaissance des conditions générales d’utilisation du site daaz-gdpr.lu. En cas de désaccord avec
    celles-ci, veuillez de ne pas utiliser ce site. Toute personne faisant usage du site daaz-gdpr.lu et de l’outil
    d’aide à la conformité DAAZ accessible sur celui-ci est réputée avoir pris connaissance et accepté l'intégralité des
    présentes conditions générales d'utilisation.
    {% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate trimmed %}
    L’outil d’aide à la conformité DAAZ est mis à disposition des utilisateurs sur le site daaz-gdpr.lu (ci-après, le «
    site ») par la Commission nationale pour la protection des données (CNPD, 15, Boulevard du Jazz, L-4370 Belvaux), en
    collaboration avec le LHC-NC3 (Luxembourg House of Cybersecurity, National Cybersecurity Competence Center, 122 Rue
    Adolphe Fischer, L-1521 Luxembourg) et avec le support technique du Centre des technologies de l’information de
    l’Etat (CTIE - 560 Rue de Neudorf, L-2220 Luxembourg).
    {% endblocktranslate %}
  </p>
  <ol>
    <li class="fw-bold">
      {% translate "Accès au site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      L’accès au site se fait par Internet. L’utilisateur déclare en connaître les risques et les accepter. Il doit se
      prémunir contre les effets de la piraterie informatique en adoptant une configuration informatique adaptée et
      sécurisée.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      La CNPD ne saurait être tenue responsable d'un quelconque dommage, que l’utilisateur subirait, lié directement ou
      indirectement à sa navigation sur ce site et à l’utilisation en ligne de l’outil d’aide à la conformité DAAZ.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Le CTIE assurera au mieux la sécurité du système informatique et une disponibilité maximale de ce site. Toutefois,
      sa responsabilité ne saurait être retenue en cas d’attaque du système informatique ou d’indisponibilité momentanée
      partielle ou totale du site.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Absence d’engagement quant à la mise en conformité de l’utilisateur" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      L'utilisation du site, en ce compris de l’outil d’aide à la conformité DAAZ, est gratuite. L’utilisation de cet
      outil, entièrement volontaire, vise à permettre à l’utilisateur d’acquérir les notions nécessaires pour renforcer
      et favoriser la mise en conformité au règlement général sur la protection des données (RGPD) au sein de petites et
      moyennes entreprises.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      L’utilisation de l’outil d’aide à la conformité DAAZ n’a néanmoins pas pour objet de constituer une garantie quant
      à la mise en conformité au RGPD des traitements de données à caractère personnel éventuellement mis en œuvre par
      l’utilisateur et n’implique aucun engagement de la CNPD à cet égard.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Si l’utilisateur souhaite obtenir des informations plus spécifiques concernant la protection des données, il peut
      contacter la CNPD via son <a href="https://cnpd.public.lu/fr/support/contact.html" target="_blank"
        rel="noopener noreferrer">formulaire de contact</a>.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Utilisation du site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Le site, en ce compris l’outil d’aide à la conformité DAAZ, ne peut être utilisé que dans le respect des présentes
      conditions générales. Il est interdit d’en détourner l’utilisation, de quelque façon que ce soit, notamment à des
      fins commerciales. Le contenu de l’outil d’aide à la conformité DAAZ peut être adapté afin de prendre en compte
      des aspects spécifiques du droit et des pratiques en matière de protection des données et des évolutions dans ce
      domaine. Une telle adaptation, qui exclut toute exploitation directe ou indirecte à des fins commerciales et qui
      ne peut en aucun cas viser à modifier l’outil tel qu’il est accessible sur le site, est uniquement possible par le
      biais de la version GitHub de l’outil. La version GitHub de l’outil est accessible en bas de page de la page
      d’accueil du site.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      L’utilisateur ne peut prétendre à aucun droit de propriété, à aucune cession, implicite ou non, à l’égard de
      l’ensemble des éléments du site et de l’outil d’aide à la conformité DAAZ mis à disposition par la CNPD en
      collaboration avec le LHC-NC3.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Toute utilisation ou opération effectuée par l’utilisateur (par exemple via l’utilisation de logiciels) qui
      pourrait porter atteinte ou altérer, de quelque façon que soit, le fonctionnement normal du site et/ou le contenu
      proposé sur celui-ci, est interdite.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Suspension du site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      L’utilisation du site, en ce compris de l’outil d’aide à la conformité, peut être suspendue à tout moment et sans
      préavis par la CNPD avec le support technique du CTIE, notamment pour des raisons de maintenance ou encore dans le
      cas où le site ferait l’objet d’une utilisation abusive, sans que la CNPD ne soit tenue de justifier le motif de
      la suspension.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Informations publiées et modification du site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      L'objectif est de diffuser des informations exactes et à jour, mais la CNPD ne saurait toutefois éviter tout
      risque d'erreur matérielle. Les informations publiées sur ce site ne sont pas constitutives d’un engagement de la
      part de la CNPD et peuvent ne pas être exhaustives.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      La responsabilité de la CNPD ne saurait être retenue en cas d’inexactitudes, de lacunes ou d’erreurs dans les
      informations fournies sur le site, y compris en cas d’omission de mise à jour d’une information ou d’un document
      ou encore en cas d’erreurs de manipulation du système ou d’encodage.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Le site, en compris l’outil d’aide à la conformité DAAZ, peut être mis à jour et modifié à tout moment par la
      CNPD, sans préavis. La CNPD peut notamment à tout moment retirer, ajouter, compléter ou préciser tout ou une
      partie des informations, contenus et fonctionnalités accessibles sur le site. Aucune responsabilité pour un
      quelconque dommage direct ou indirect en lien avec de telles mises à jour et modifications ne pourra être retenue
      à l’encontre de la CNPD.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Liens vers d’autres sites" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Pour la convenance des utilisateurs, ce site peut contenir des liens vers d’autres sites qui peuvent leur être
      utiles ou qui peuvent les intéresser.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      La CNPD ne contrôle pas systématiquement le contenu de ces sites. Elle ne peut dès lors être tenue responsable des
      contenus présentés sur lesdits sites, qu’il s’agisse de leur légalité ou de l'exactitude des informations qui s'y
      trouvent et des éventuels dégâts matériels qui découleraient de leur utilisation.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Propriété intellectuelle (Copyright)" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      L’ensemble des éléments de ce site, en ce compris l’outil d’aide à la conformité DAAZ ainsi que son logo sont
      protégés par les lois sur la propriété intellectuelle, sur les droits d’auteur et le droit des marques.
      L’utilisation du site et de l’outil d’aide à la conformité DAAZ, conformément aux présentes conditions générales,
      ne constitue en aucun cas une cession de droits de propriété intellectuelle détenus par la CNPD.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Aucune autorisation d’exploitation n’est accordée par la CNPD à l’égard de l’ensemble des éléments du site
      protégés par des droits de propriété intellectuelle.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Sans préjudice des possibilités d’adaptation du contenu de l’outil décrites au point 3 des présentes conditions
      générales, les modifications, reproductions ou adaptations des éléments de ce site, de l’outil d’aide à la
      conformité DAAZ tel qu’il est accessible sur celui-ci et de la marque figurative DAAZ, ne sont pas autorisés, sous
      quelque forme que ce soit et par quelque moyen que ce soit.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Modification des conditions générales d'utilisation" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Les présentes conditions générales d'utilisation pourront être modifiées ou complétées à tout moment, sans
      préavis, en fonction de modifications apportées au site, de l'évolution de la législation ou pour tout autre motif
      jugé nécessaire. Il appartient à l’utilisateur de s’informer des conditions générales d'utilisation du site, dont
      seule la version actualisée accessible en ligne est réputée en vigueur.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Loi applicable et juridictions compétentes" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Tout litige relatif à l'utilisation de ce site et de l’outil d’aide à la conformité DAAZ est soumis à la loi
      luxembourgeoise et de la compétence exclusive des juridictions du Grand-Duché de Luxembourg.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Traitements de données à caractère personnel effectués par la CNPD via le site daaz-gdpr.lu" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Un identifiant unique généré automatiquement lors de la première connexion à l’outil d’aide à la conformité DAAZ
      permet de préserver l’anonymat de l’utilisateur. Des données à caractère personnel peuvent néanmoins être traitées
      par la CNPD en cas de demande de support.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Les informations relatives aux traitements de données à caractère personnel effectués par la CNPD dans ce contexte
      sont détaillées
      {% endblocktranslate %}
      <a href="{% url 'privacy' %}" rel="noopener noreferrer">{% translate "ici" %}</a>.
    </p>
    <li class="fw-bold">
      {% translate "Gestion des cookies" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Un cookie est un fichier texte envoyé au navigateur de l’utilisateur et enregistré sur le disque dur de son
      terminal (PC, ordinateur portable ou smartphone, par exemple) lors de la visite d’un site internet.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Des cookies peuvent par exemple être utilisés afin d’assurer le bon fonctionnement d’un site et d’optimiser son
      ergonomie et ses fonctionnalités. Les informations relatives aux cookies utilisés par le site daaz-gdpr.lu sont
      détaillées
      {% endblocktranslate %}
      <a href="{% url 'cookies' %}" rel="noopener noreferrer">{% translate "ici" %}</a>.
    </p>
    <li class="fw-bold">
      {% translate "Langues" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Le site est proposé en trois langues, à savoir l’anglais, l’allemand et le français.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Dans la mesure du possible, il sera répondu à toute question/sollicitation dans la langue du destinataire de la
      réponse.
      {% endblocktranslate %}
    </p>
  </ol>
</div>
{% endblock %}