{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block bootstrap5_title %}DAAZ - {% translate "Legal notice" %}{% endblock %}
{% block content %}
<div class="container-xl py-5">
  <h1 class="text-primary">
    {% translate "Legal aspects" %}
  </h1>
  <h3 class="text-primary">
    {% translate "Terms and conditions of use of the daaz-gdpr.lu website and the DAAZ compliance tool" %}
  </h3>
  <p class="fst-italic">
    {% blocktranslate trimmed %}
    Please read the general terms and conditions of use of the daaz-gdpr.lu website. In case of
    disagreement with them, please do not use this site. Any person making use of the
    daaz-gdpr.lu website and the DAAZ compliance tool accessible on it shall be deemed to have
    read and accepted all of these general terms and conditions of use.
    {% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate trimmed %}
    The DAAZ compliance tool is made available to users on the daaz-gdpr.lu website (‘the
    website’) by the Commission nationale pour la protection des données (CNPD, 15, Boulevard du
    Jazz, L-4370 Belvaux), in collaboration with the LHC-NC3 (Luxembourg House of Cybersecurity,
    National Cybersecurity Competence Center, 122 Rue Adolphe Fischer, L-1521 Luxembourg) and
    with the technical support of the Centre des technologies de l’information de l’Etat (CTIE -
    560 Rue de Neudorf, L-2220 Luxembourg).
    {% endblocktranslate %}
  </p>
  <ol>
    <li class="fw-bold">
      {% translate "Access to the site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Access to the website is via the Internet. The user declares that he is aware of the
      risks and accepts them. It must guard against the effects of computer piracy by adopting
      a suitable and secure computer configuration.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The CNPD cannot be held liable for any damage that the user suffers, directly or
      indirectly related to his navigation on this site and the online use of the compliance
      tool DAAZ.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The CTIE will best ensure the security of the computer system and maximum availability
      of this site. However, it cannot be held liable in the event of an attack on the
      computer system or partial or total temporary unavailability of the site.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Lack of commitment to user compliance" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Use of the site, including the DAAZ compliance tool, is free of charge. The use of this
      tool, which is entirely voluntary, aims to enable the user to acquire the concepts
      necessary to strengthen and promote compliance with the General Data Protection
      Regulation (GDPR) in small and medium-sized enterprises.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      However, the use of the DAAZ compliance tool is not intended to constitute a guarantee
      that any processing of personal data carried out by the user will comply with the GDPR
      and does not imply any commitment on the part of the CNPD in that regard.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      If the user wishes to obtain more specific information on data protection, he/she can
      contact the CNPD via the <a href="https://cnpd.public.lu/en/support/contact.html" target="_blank"
        rel="noopener noreferrer">contact</a> form.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Use of the site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      The site, including the DAAZ compliance tool, may only be used in compliance with these
      terms and conditions. It shall be prohibited to divert its use in any way, including for
      commercial purposes. The content of the DAAZ compliance tool can be adapted to take into
      account specific aspects of data protection law and practices and developments. Such
      adaptation, which excludes any direct or indirect exploitation for commercial purposes
      and which may under no circumstances aim at modifying the tool as accessible on the
      website, is only possible through the GitHub version of the tool. The GitHub version of
      the tool is accessible at the bottom of the homepage of the website.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The user cannot claim any right of ownership or any assignment, implicit or not, with
      regard to all the elements of the site and the DAAZ compliance tool made available by
      the CNPD in collaboration with the LHC-NC3.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Any use or operation carried out by the user (for example through the use of software)
      that could harm or alter, in any way, the normal functioning of the site and/or the
      content offered on it, is prohibited.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Suspension of the site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      The use of the site, including the compliance tool, may be suspended at any time and
      without notice by the CNPD with the technical support of the CTIE, in particular for
      maintenance reasons or in the event of misuse of the site, without the CNPD being
      required to justify the reason for the suspension.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Information published and modification of the site" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      The aim is to disseminate accurate and up-to-date information, but the CNPD cannot avoid
      any risk of material error. The information published on this site does not constitute a
      commitment on the part of the CNPD and may not be exhaustive.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The CNPD cannot be held liable in the event of inaccuracies, gaps or errors in the
      information provided on the site, including in the event of failure to update
      information or a document or in the event of errors in system manipulation or encoding.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The site, including the DAAZ compliance tool, may be updated and modified at any time by
      the CNPD, without prior notice. In particular, the CNPD may at any time remove, add,
      supplement or specify all or part of the information, content and functionalities
      accessible on the site. No liability for any direct or indirect damage in connection
      with such updates and modifications can be held against the CNPD.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Links to other sites" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      For the convenience of users, this site may contain links to other sites that may be
      useful or of interest to them.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The CNPD does not systematically monitor the content of these sites. It can therefore
      not be held responsible for the content presented on these sites, whether it is their
      legality or the accuracy of the information contained therein and any material damage
      that may result from their use.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Intellectual Property (Copyright)" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      All elements of this website, including the DAAZ compliance tool and its logo, are
      protected by intellectual property, copyright and trademark laws. The use of the website
      and the DAAZ compliance tool, in accordance with these general terms and conditions,
      does not constitute an assignment of intellectual property rights held by the CNPD.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      No operating authorisation is granted by the CNPD in respect of all the elements of the
      site protected by intellectual property rights.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      Without prejudice to the possibilities of adapting the content of the tool described in
      point 3 of these general conditions, modifications, reproductions or adaptations of the
      elements of this site, of the DAAZ compliance tool as accessible on it and of the
      figurative mark DAAZ, are not authorised, in any form and by any means whatsoever.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Modification of the general conditions of use" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      These terms and conditions of use may be modified or supplemented at any time, without
      notice, depending on changes to the site, changes in legislation or for any other reason
      deemed necessary. It is up to the user to inquire about the general conditions of use of
      the site, of which only the updated version accessible online is deemed to be in force.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% translate "Applicable law and competent courts" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      Any dispute relating to the use of this website and the DAAZ compliance tool is subject
      to Luxembourg law and the exclusive jurisdiction of the courts of the Grand Duchy of
      Luxembourg.
      {% endblocktranslate %}
    </p>
    <li class="fw-bold">
      {% blocktranslate trimmed %}
      Processing of personal data by the CNPD via the daaz-gdpr.lu website
      {% endblocktranslate %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      A unique identifier that is automatically generated when you first log in to the DAAZ
      compliance tool preserves the anonymity of the user. Personal data may nevertheless be
      processed by the CNPD in the event of a request for support.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      The information on the processing of personal data carried out by the CNPD in this
      context is detailed
      {% endblocktranslate %}
      <a href="{% url 'privacy' %}" rel="noopener noreferrer">{% translate "here" %}</a>.
    </p>
    <li class="fw-bold">
      {% translate "Cookie management" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      A cookie is a text file sent to the user’s browser and stored on the hard drive of the
      user’s terminal (e.g. PC, laptop or smartphone) when visiting a website.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      For example, cookies may be used to ensure the proper functioning of a website and to
      optimise its usability and functionality. The information relating to the cookies used
      by the site daaz-gdpr.lu are detailed
      {% endblocktranslate %}
      <a href="{% url 'cookies' %}" rel="noopener noreferrer">{% translate "here" %}</a>.
    </p>
    <li class="fw-bold">
      {% translate "Languages" %}
    </li>
    <p>
      {% blocktranslate trimmed %}
      The site is available in three languages, English, German and French.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
      As far as possible, any questions/solicitations will be answered in the language of the
      recipient of the answer.
      {% endblocktranslate %}
    </p>
  </ol>
</div>
{% endblock %}