{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_head %}
{{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'media/images/favicon.svg' %}" />
{% endblock %}


{% block bootstrap5_title %}{% endblock %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="d-flex fixed-top w-100 shadow-sm bg-white py-1 d-sm-none">
            <img src="{% static 'media/images/logos/logo.svg' %}" alt="Logo Large" width="150px" class="mx-auto">
        </div>
        {% include "parts/sidebar.html" %}
        <div class="col pt-5 pb-6 mt-3 my-sm-0 py-sm-0 bg-image h-100">
            <div class="py-md-3 px-0 px-md-2 h-100">
                {% block content_area %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bootstrap5_after_content %}
<!-- modals -->
{% include 'modals/finish.html' %}
{% endblock %}
