{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_head %}
{{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'media/images/favicon.svg' %}" />
{% endblock %}


{% block bootstrap5_title %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="d-flex fixed-top w-100 shadow-sm bg-white py-1 d-sm-none">
            <img src="{% static 'media/images/logo.svg' %}" alt="Logo Large" width="100px" class="mx-auto">
        </div>
        {% include "parts/sidebar.html" %}
        <div class="col py-4 py-sm-0 bg-light bg-image">
            <div class="py-5 py-sm-4 mx-1 mx-sm-5">
                {% block content_area %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bootstrap5_after_content %}
<!-- modals -->
{% include 'modals/finish.html' %}
{% endblock %}
