{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block bootstrap5_title %}{% endblock %}
{% block content %}
<div class="container-xl py-5">
  <h1 class="text-primary">{% translate "Privacy policy" %}</h1>
  <p class="text-justify">
    {% blocktranslate trimmed %}
    This questionnaire is anonymous and does not require the collection of personal data from the people who replies to
    it.
    <br><br>
    Users are invited to answer this questionnaire, taking care not to communicate, in the free-text fields of it, any
    information allowing the identification of a natural person (e.g. surname, first name, contact details, etc.). In
    the
    event that personal data is however entered in the free-text fields of the online questionnaire, these will be
    deleted.
    <br><br>
    The answers to the online questionnaire will be accessible only by the Commissioner and the CNPD agents as well as
    by
    the LHC-NC3 agents dedicated to the ALTO project, in order to ensure the analysis of the answers given and the
    proper
    technical operation.
    <br><br>
    For any questions regarding the processing of personal data by the CNPD, you can contact the CNPD's Data Protection
    Officer (DPO): <a href="mailto:dpo@cnpd.lu">dpo@cnpd.lu</a>
    {% endblocktranslate %}
  </p>
</div>
{% endblock %}
