{% extends 'main.html' %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}" />
<script src='{% static "js/resources.js" %}'></script>
{% endblock %}

{% block content_area %}
{% with img_classes="row mx-auto" button_classes="row btn btn-outline-light text-primary fw-bold shadow w-75 rounded-pill p-2" icon_classes="bi bi-arrow-up-right-circle-fill text-primary ps-0" %}
<h4> {% translate "Mes ressources" %}</h4>

<div id="resources" class="row row-cols-1 row-cols-sm-3 text-center">
    {% for level in levels %}
    <div class="col p-2 mx-auto">
        <img src="{% static 'media/images/resources_level'%}{{level.index}}.svg" alt="Resources Image"
            class="{{ img_classes }}" />
        <a type="button" class="{{ button_classes }} go-to-download" data-level-id="{{ level.id }}">
            <i class="{{ icon_classes }}"></i>
            {% translate "Niveau" %} {{ level.index }} : {{ level.name }}
        </a>
    </div>
    {% endfor %}
    {% for rt in resourcesType %}
    <div class="col p-2 mx-auto m-sm-0">
        <img src="{% static 'media/images/resources_type'%}{{rt.index}}.svg" alt="Resources Image"
            class="{{ img_classes }}" />
        <a type="button" class="{{ button_classes }} go-to-download" data-rt-id="{{ rt.id }}">
            <i class="{{ icon_classes }}"></i>
            {% if rt.index == 1 %}
            {% translate "Les fiches récapitulatives" %}
            {% elif rt.index == 2 %}
            {% translate "Les fiches pratiques" %}
            {% elif rt.index == 3 %}
            {% translate "Les templates" %}
            {% endif %}
        </a>
    </div>
    {% endfor %}
    <div class="col p-2 mx-auto m-sm-0">
        <img src="{% static 'media/images/resources_all.svg'%}" alt="Resources Image" class="{{ img_classes }}" />
        <a type="button" class="{{ button_classes }} go-to-download">
            <i class="{{ icon_classes }}"></i>
            {% translate "Tous les fichiers" %}
        </a>
    </div>
</div>
{% endwith %}
{% include 'modals/resources_download_base.html' %}
{% endblock %}
