// Include any default variable overrides here (though functions won't be available)

$blue: #0099FF;
$gray-600: #D9D9D9;
// Importing bootstrap 
@import "../../../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

// To compile scss file, run this command at root project ** npm run compile-scss ** 

:root {
  --bs-light-blue: 224, 243, 255;
  --bs-progress-height: 30px;
}

#hero {
  margin-top: 62px;
}

h1 {
  font-weight: 700;
}

.bg-light-blue {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-blue), var(--bs-bg-opacity)) !important;
}

.light-blue {
  color: rgb(var(--bs-light-blue));
}

.bg-horizontal-white-and-light-blue {
  background-image: linear-gradient(var(--bs-white) 50%, rgb(var(--bs-light-blue)) 0%);
}

.g-5,
.gx-5 {
  --bs-gutter-x: 5rem;
}

ul li {
  margin-bottom: 4px;
}

/* class: completed-level-card */

.completed-level-card h5 {
  color: var(--Orange-Gold, #FFA600) !important;
}

/* class: progress */

.progress {
  position: relative;
  background-color: var(--bs-white);
  border: var(--bs-primary) 3px solid;
  font-size: 16px;
  height: 32px !important;
  border-radius: 16px;
  text-align: center;
}

.progress > span {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.progress-bar {
  padding: 3px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.progress-completed {
  border-color: var(--Orange-Gold, #FFA600) !important;
}

.progress-completed .progress-bar {
  background-color: var(--Orange-Gold, #FFA600) !important;
}

// Icons

.large-icon {
  font-size: 80px; 
}
.medium-icon {
  font-size: 60px; 
}