// Include any default variable overrides here (though functions won't be available)
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 8,
);

$blue: #0099FF;
$gray-600: #D9D9D9;
$green : #32BA00;
$red: #E30613;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/_maps";
@import "../../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge($utilities, ("height": map-merge(map-get($utilities, "height"), (responsive: true))));

$utilities: map-merge($utilities,
    ("height": map-merge(map-get($utilities, "height"),
        (values: map-merge(map-get(map-get($utilities, "height"), "values"),
            (1: 1%,
              2: 2%,
              3: 3%,
              4: 4%,
              5: 5%,
              10: 10%,
              15: 15%,
              20: 20%,
              30: 30%,
              35: 35%,
              40: 40%,
              45: 45%,
              48: 48%,
              49: 49%,
              55: 55%,
              60: 60%,
              65: 65%,
              70: 70%,
              80: 80%,
              81: 81%,
              82: 82%,
              83: 83%,
              84: 84%,
              85: 85%,
              90: 90%,
              95: 95%,
            ),
          ),
        ),
      ),
    ));

$utilities: map-merge($utilities, ("width": map-merge(map-get($utilities, "width"), (responsive: true))));

$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"),
        (values: map-merge(map-get(map-get($utilities, "width"), "values"),
            (1: 1%,
              2: 2%,
              3: 3%,
              4: 4%,
              5: 5%,
              10: 10%,
              15: 15%,
              20: 20%,
              30: 30%,
              35: 35%,
              40: 40%,
              45: 45%,
              48: 48%,
              49: 49%,
              55: 55%,
              60: 60%,
              65: 65%,
              70: 70%,
              80: 80%,
              85: 85%,
              90: 90%,
              95: 95%,
            ),
          ),
        ),
      ),
    ));



// Importing bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";



@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

// Then add additional custom code here

// To compile scss file, run this command at root project ** npm run compile-scss **

:root {
  --bs-light-blue: 224, 243, 255;
  --bs-light-green: 203, 235, 202;
  --bs-light-red: 235, 173, 180;
  --bs-progress-height: 30px;
}



html,
body {
  font-family: "Inter" !important;
}

h1 {
  font-weight: 700;
}

.bg-light-blue {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-blue), var(--bs-bg-opacity)) !important;
}

.bg-light-red {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-red), var(--bs-bg-opacity)) !important;
}

.bg-light-green {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-green), var(--bs-bg-opacity)) !important;
}

.border-green {
  border-color: #60E232 !important;
}

.light-blue {
  color: rgb(var(--bs-light-blue));
}

.bg-horizontal-white-and-light-blue {
  background-image: linear-gradient(var(--bs-white) 50%, rgb(var(--bs-light-blue)) 0%);
}

.g-5,
.gx-5 {
  --bs-gutter-x: 5rem;
}

ul li {
  margin-bottom: 4px;
}

/* class: completed-level-card */

.completed-level-card h5 {
  color: var(--Orange-Gold, #FFA600) !important;
}

/* Icons */

.large-icon {
  font-size: 80px;
}

.medium-icon {
  font-size: 60px;
}

/* Font */

.font-grey {
  color: var(--bs-grey-600, #5B5B5B) !important;
}

/* Connectors */

.connector {
  position: absolute;
  border: 2px solid #000;
  pointer-events: none;
}

.connector::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  width: 4px;
  /* Thickness of the line */
  height: 100%;
  /* Height of the line */
  left: 50%;
  transform: translateX(-50%);
}

/* Responsive classes */

@media (max-width: 576px) {
  :root {
    --bs-body-font-size: 0.9rem;
  }
}

/* Fonts */

.font-inter {
  font-family: "Inter", !important;
}

.font-roboto {
  font-family: "Roboto", !important;
}
