{% load static %}

{% block bootstrap5_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/course_progress_bar.css' %}">
{% endblock %}

<div class="progress bg-white border border-primary border-2">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
{% for quiz_id, quiz in quizzes.items %}
    {% if not forloop.last %}
    <div class="key align-items-center" style="left:calc({{quiz.percentage}}% - 22px)">
        {% if progress > quiz.percentage|add:0 %}
        <img class="img-fluid" src="{% static 'media/images/icons/key-yellow.svg' %}" />
        {% else %}
        <img class="img-fluid" src="{% static 'media/images/icons/key-white.svg' %}" />
        {% endif %}
    </div>
    {% endif %}
{% endfor %}

<div class="trophy">
    {% if progress >= 100 %}
    <img class="img-fluid" src="{% static '/media/images/icons/trophy-yellow.svg' %}" />
    {% else %}
    <img class="img-fluid" src="{% static '/media/images/icons/trophy-white.svg' %}" />
    {% endif %}
</div>
