{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block bootstrap5_extra_head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

{% endblock %}

<footer>
  <div class="container container-xxl py-3 py-sm-5 px-4 px-sm-0">
    <div class="row py-4">
      <div class="col-4 col-sm-2 col-xl-1">
          <div class="flex-grow-0 text-center">
              <img
                  src="{% static 'media/images/logos/logo-cnpd.svg' %}"
                  alt="CNPD Commission Nationale pour la Protection des Données"
                  class="img-fluid"
              />
          </div>
      </div>

      <div class="col-8 col-sm-2">
          <div lang="fr" class="flex-grow-1 lh-sm">
              <p>Commission Nationale pour la Protection des Données</p>
              <p>
                15, Boulevard du Jazz<br/>
                L-4370 Belvaux
              </p>
              <p>
                Tél: <a class="text-primary" href="tel:+3522610601">(+352) 26 10 60-1</a><br/>
                Courriel: <a class="text-primary" href="mailto:daaz@cnpd.lu">daaz@cnpd.lu</a>
              </p>
          </div>
      </div>

    	<div class="col-8 offset-4 col-sm-3 offset-sm-1 offset-xl-2 py-2">
    		<p>
          <a class="text-decoration-none" href="{% url 'legal' %}">{% translate "Legal notice" %}</a>
        </p>
        <p>
          <a class="text-decoration-none" href="{% url 'privacy' %}">{% translate "Privacy Policy" %}</a>
        </p>
        <p>
          <a class="text-decoration-none" href="{% url 'cookies' %}">{% translate "Cookie management" %}</a>
        </p>
    	</div>

    	<div class="col-8 offset-4 col-sm-3 offset-sm-0 py-2">
    		<p>
          <a class="text-decoration-none" href="{% url 'accessibility' %}">{% translate "Accessibility" %}</a>
        </p>
        <p>
          <a class="text-decoration-none" href="https://github.com/NC3-LU/eLearning" target="_blank" rel="noopener noreferrer">Github</a>
        </p>
    	</div>
    </div>
  </div>
</footer>
