{% load i18n %}
{% load static %}
{% block bootstrap5_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
<script src='{% static "js/sidebar.js" %}'></script>
{% endblock %}
<nav id="sidebar" class="col-auto col-md-2 col-lg-2 px-2 bg-white sticky-sidebar">
    <div class="d-flex flex-column align-items-center px-sm-2 pt-2 min-vh-100">
        <button id="sidebarToggle" class="btn btn-link align-self-end">
            <i class="bi bi-arrow-left text-primary d-none d-sm-inline"></i>
            <i id="open_sidebar" class="bi bi-arrow-right text-primary d-none d-sm-none"></i>
        </button>
        <div class="d-flex flex-row">
            <img id="logo_small" src="{% static 'media/images/logo_minimized.png' %}" alt="Logo Small" width="30px"
                class="d-sm-none">
            <img src="{% static 'media/images/logo.png' %}" alt="Logo Large" width="100px" class="d-none d-sm-inline">
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="w-100">
                <a href="{% url 'course' %}"
                    class="nav-link px-0 align-middle {% if request.path == '/course' %}text-primary fw-bold{% endif %}">
                    <i class="fs-4 bi-mortarboard"></i>
                    <span class="ms-1 d-none d-sm-inline">{% translate "Formation" %}</span>
                </a>
            </li>
            <li class="w-100">
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-columns-gap"></i>
                    <span class="ms-1 d-none d-sm-inline">{% translate "Résultats" %}</span>
                </a>
            </li>
            <li class="w-100">
                <a href="{% url 'resources' %}"
                    class="nav-link px-0 align-middle {% if request.path == '/resources' %}text-primary fw-bold{% endif %}">
                    <i class="fs-4 bi-folder"></i>
                    <span class="ms-1 d-none d-sm-inline">{% translate "Ressources" %}</span>
                </a>
            </li>
            <hr>
            <li class="w-100">
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-gear"></i>
                    <span class="ms-1 d-none d-sm-inline">{% translate "Paramètres" %}</span>
                </a>
            </li>
            <li class="w-100">
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-question-circle"></i>
                    <span class="ms-1 d-none d-sm-inline">{% translate "Aide" %}</span>
                </a>
            </li>
            <hr>
            <li class="w-100">
                <a href="{% url 'index' %}" class="nav-link px-0 align-middle danger-link">
                    <i class="fs-4 bi-box-arrow-right"></i>
                    <span class="ms-1 d-none d-sm-inline">{% translate "Log out" %}</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="mb-3 align-items-center align-items-sm-start">
            {% include "home/language_selector.html" %}
        </div>
    </div>
</nav>