{% load i18n %}
{% load static %}
{% block bootstrap5_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
<script src='{% static "js/sidebar.js" %}'></script>
{% endblock %}
<nav id="sidebar" class="col-auto col-md-2 col-lg-2 px-0 bg-white shadow-sm sticky-sidebar">
    <div class="d-flex flex-sm-column flex-row align-items-center pt-2 min-vh-100 justify-content-evenly">
        <button id="sidebarToggle" class="btn btn-link align-self-end d-none d-sm-block my-sm-3 mx-2">
            <i class="bi bi-arrow-left text-primary d-none d-sm-inline"></i>
            <i id="open_sidebar" class="bi bi-arrow-right text-primary d-none d-sm-none"></i>
        </button>
        <div class="d-none d-sm-block pb-4">
            <img id="logo_small" src="{% static 'media/images/logos/logo_minimized.svg' %}" alt="Logo Small" width="30px"
                class="d-sm-none">
            <img src="{% static 'media/images/logos/logo.svg' %}" alt="Logo Large" class="d-none d-sm-inline w-100 px-4 my-4" height="40px">
        </div>

        <ul class="nav nav-pills w-100 flex-sm-column flex-row mb-sm-auto mb-0 align-items-center align-items-sm-start flex-grow-1 flex-sm-grow-0 text-sm-start text-center">
            <li class="w-100 px-2 px-sm-0 py-sm-1 flex-grow-1 flex-sm-grow-0 order-sm-1 order-0">
                <a href="{% url 'dashboard' %}"
                    class="nav-link p-0 align-middle {% if request.path == '/dashboard' %}text-primary fw-bold{% endif %}">
                    <span class="left-dot">
                        <div
                            class="selected-left-dot d-inline-block bg-primary ps-sm-2 opacity-0 {% if request.path == '/dashboard' %}opacity-100{% endif %}">
                        </div>
                    </span>
                    <i class="bi-house" data-toggle="tooltip" data-placement="right" title='{% translate "Home" %}'></i>
                    <span class="ms-1 d-none d-sm-inline ms-sm-1">{% translate "Home" %}</span>
                    <div class="left-bar d-none bg-primary opacity-50"></div>
                </a>
            </li>
            <li class="w-100 px-2 px-sm-0 py-sm-1 flex-grow-1 flex-sm-grow-0 order-sm-2 order-1">
                <a href="{% url 'resources' %}"
                    class="nav-link p-0 align-middle {% if request.path == '/resources' %}text-primary fw-bold{% endif %}">
                    <span class="left-dot">
                        <div
                            class="selected-left-dot d-inline-block bg-primary ps-sm-2 opacity-0 {% if request.path == '/resources' %}opacity-100{% endif %}">
                        </div>
                    </span>
                    <i class="bi-folder" data-toggle="tooltip" data-placement="right" title='{% translate "Ressources" %}'></i>
                    <span class="ms-1 d-none d-sm-inline ms-sm-1">{% translate "Ressources" %}</span>
                </a>
            </li>
            <li class="w-100 px-2 px-sm-0 py-sm-1 flex-grow-1 flex-sm-grow-0 order-3">
                <a href="{% url 'helping_center' %}"
                   class="nav-link p-0 align-middle {% if request.path == '/helping_center' %}text-primary fw-bold{% endif %}">
                    <span class="left-dot">
                        <div
                            class="selected-left-dot d-inline-block bg-primary opacity-0 {% if request.path == '/helping_center' %}opacity-50{% endif %}">
                        </div>
                    </span>
                    <i class="bi-gear" data-toggle="tooltip" data-placement="right" title="{% translate 'Help Center'%} "></i>
                    <span class="ms-1 d-none d-sm-inline ms-sm-1">{% translate "Help Center" %}</span>
                </a>
            </li>
            <li class="language-selector w-100 ps-3 px-2 px-sm-0 py-sm-1 flex-grow-1 flex-sm-grow-0 order-4">
                <div id="language_selector_expanded" class="nav-link p-0 align-middle d-none d-sm-inline">
                    {% include "home/language_selector_sidebar.html" %}
                </div>
                <div id="language_selector_minimized" class="nav-link p-0 align-middle d-sm-none d-inline">
                    {% include "home/language_selector_landing.html" %}
                </div>
            </li>
            <li class="w-100 px-2 px-sm-0 py-sm-1 flex-grow-1 flex-sm-grow-0 order-5">
                <a class="nav-link p-0 align-middle danger-link" data-bs-toggle="modal" data-bs-target="#finish"
                   role="button">
                    <span class="left-dot">
                        <div class="selected-left-dot d-inline-block opacity-0"></div>
                    </span>
                    <i class="bi-box-arrow-right" data-toggle="tooltip" data-placement="right" title='{% translate "Log out" %}'></i>
                    <span class="ms-1 d-none d-sm-inline ms-sm-1">{% translate "Log out" %}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
